In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from langchain_ollama import OllamaLLM
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent

# 1. 시각화 설정
%matplotlib inline

# 한글 폰트 설정
plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['axes.unicode_minus'] = False
sns.set_theme(style="whitegrid", font='NanumGothic') # Seaborn 테마 설정

# 2. 분석할 CSV 파일 로드 
file_path = "./input/dummy.csv" 
df = pd.read_csv(file_path)

print("데이터 로드 완료")
display(df.head()) 

# 3. 모델 및 에이전트 설정
model_name = "mistral-small"   # "mistral"  # "mistral-small"
llm = OllamaLLM(model=model_name, 
                temperature=0.0,
               )
llm_with_stop = llm.bind(stop=["Observation:", "Observation", "\nObservation"])  # 중지 시퀀스 설정
# 에이전트가 지켜야 할 철저한 규칙 정의
custom_prefix = """
You are working with a pandas dataframe in Python. The name of the dataframe is `df`.
You should use the following format:

Thought: you should always think about what to do
Action: the action to take, should be one of [python_repl_ast]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question

NEVER explain your code. NEVER say 'Here is the corrected version'. ONLY use the format above.
"""

agent = create_pandas_dataframe_agent(
    llm_with_stop,  # llm,
    df,
    verbose=True,               # Thought/Action/Observation 실시간 출력
    allow_dangerous_code=True,  # 코드 실행 허용
    handle_parsing_errors=True,  # 파싱 에러 시 자체 수정 
    # 모델이 형식을 어겼을 때 스스로 깨닫게 하는 가이드 메시지 추가
    # handle_parsing_errors="Check your output format. Remember to use 'Action: python_repl_ast' and 'Action Input: '.",
    # max_iterations=5, # 파싱 에러 시 재시도 횟수 
    prefix=custom_prefix,
)

# 4. 분석 상세 요구 사항 입력 TODO 테스트용
summary_req = "전체적인 수치 요약해줘"
hypo_req = "플랫폼(CITY/GEN/GEN_OAS)별 차이나 요일별 특징에 대한 가설을 세워줘"
result_req = "가설을 검증하기 위해 실제 코드를 실행한 통계적 근거를 보여줘"
biz_req = "분석 결과를 바탕으로 한 분석 전략을 제안해줘"

# 5. 쿼리 조합
full_query = f"""
아래 요청사항에 맞춰 데이터프레임을 분석하고 한국어로 보고서를 작성하세요:

1. 데이터 요약: {summary_req}
2. 가설 설정: {hypo_req}
3. 분석 결과: {result_req}
4. 비즈니스 제언: {biz_req}

반드시 파이썬 코드를 실행하여 얻은 통계 수치를 바탕으로 답변하세요.

주의사항:
- 첫 번째 줄은 반드시 'Thought:'로 시작하세요.
- 설명을 하거나 인사말을 하지 마세요.
- 불필요한 서술이나 코드에 대한 설명(예: '이 함수는 ~입니다', '수정한 후 결과는 ~')을 절대 하지 마세요.
- 파이썬 코드를 실행해야 할 때는 반드시 'Action: python_repl_ast' 형식을 사용하고, 코드 블록(```python)을 직접 답변에 포함하지 마세요.
- 당신의 답변은 반드시 'Thought:', 'Action:', 'Action Input:', 'Observation:'의 형식을 엄격히 따라야 합니다.
- 평균(mean)이나 합계(sum)를 구할 때는 반드시 숫자형 컬럼만 선택하거나 `numeric_only=True` 옵션을 사용하세요.
  예: df.groupby('col').mean(numeric_only=True)
- 데이터에 문자열이나 날짜가 섞여 있을 수 있음을 항상 유의하세요.
- 시각화는 matplotlib이나 seaborn을 사용하세요.
- 한글 폰트(NanumGothic)가 이미 설정되어 있으니 그대로 사용하세요.
- 주피터 노트북 환경이므로 별도의 파일 저장 없이 plt.show()를 호출하여 그래프를 출력하세요.
- 코드 수정 제안이나 인사말 등 불필요한 텍스트를 출력하지 마세요. 바로 분석에 필요한 코드를 실행하세요.
- 분석 결과(Observation)를 얻기 전까지는 'Final Answer:'를 내지 마세요.
- 최종 답변을 낼 때만 'Final Answer:'를 사용하세요.
- 모든 설명은 한국어로 작성하세요.
"""

# 6. 실행
print(f"{model_name} AGENT GO!GO!GO!...\n")
try:
    response = agent.run(full_query)

    print("\n" + "="*50)
    print("최종 분석 보고서")
    print("="*50)
    print(response)
except Exception as e:
    print(f"오류 발생: {e}")

데이터 로드 완료

,datetime,TEMP,DAY_OF_WEEK,CITY,GEN,OAS,GEN_OAS,TOTAL,WEEK_FRI,WEEK_MON,WEEK_SAT,WEEK_SUN,WEEK_THU,WEEK_TUE,WEEK_WED,HOLIDAY,SUM_gsflow
0,2015.1.1 0:00,-4.34,THU,3245.206,1535.650,55.644,1591.294,4836.500,0,0,0,0,1,0,0,0,4836.500
1,2015.1.1 1:00,-5.11,THU,3050.383,1402.442,41.914,1444.356,4494.739,0,0,0,0,1,0,0,0,4494.739
2,2015.1.1 2:00,-5.53,THU,2832.828,1307.376,43.179,1350.555,4183.383,0,0,0,0,1,0,0,0,4183.383
3,2015.1.1 3:00,-5.90,THU,2804.450,1286.281,43.940,1330.221,4134.671,0,0,0,0,1,0,0,0,4134.671
4,2015.1.1 4:00,-6.40,THU,2938.364,1295.799,44.316,1340.115,4278.479,0,0,0,0,1,0,0,0,4278.479

mistral-small AGENT GO!GO!GO!...



> Entering new AgentExecutor chain...

/home/ankus/miniconda3/envs/test_vLLM/lib/python3.10/site-packages/langchain_experimental/agents/agent_toolkits/pandas/base.py:283: UserWarning: Received additional kwargs {'handle_parsing_errors': True} which are no longer supported.
  warnings.warn(
/tmp/ipykernel_3066115/3677514149.py:94: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain-classic 0.1.0 and will be removed in 1.0. Use `invoke` instead.
  response = agent.run(full_query)

Thought: 데이터프레임의 요약 통계치를 확인하고, 플랫폼별 및 요일별 특징에 대한 가설을 설정해야 합니다. 이를 위해 각 컬럼의 평균과 표준편차를 계산하고, 시각화하여 분석할 수 있습니다.
Action: python_repl_ast
Action Input: df.describe(numeric_only=True)TypeError: NDFrame.describe() got an unexpected keyword argument 'numeric_only'Action: python_repl_ast
Action Input: df.describe(include='number')               TEMP          CITY           GEN           OAS       GEN_OAS  \
count  87622.000000  87624.000000  87624.000000  87624.000000  87624.000000
mean      14.293447   2104.017913   1780.130985    627.319562   2407.450547
std        9.990969   1073.541596    736.142749    358.884858    883.048465
min      -15.020000    331.226000    160.566000     20.121000    202.749000
25%        5.980000   1313.094250   1213.703000    349.839500   1775.678250
50%       15.120000   1739.174500   1737.160500    647.917000   2374.312500
75%       22.860000   2814.113750   2293.986000    896.706000   2995.936000
max       36.410000   7046.802000   4501.756000   2288.226000   5532.467000

              TOTAL      WEEK_FRI      WEEK_MON      WEEK_SAT      WEEK_SUN  \
count  87624.000000  87672.000000  87672.000000  87672.000000  87672.000000
mean    4511.468460      0.142896      0.142896      0.142896      0.142896
std     1693.813368      0.349969      0.349969      0.349969      0.349969
min      573.735000      0.000000      0.000000      0.000000      0.000000
25%     3289.407625      0.000000      0.000000      0.000000      0.000000
50%     4350.682250      0.000000      0.000000      0.000000      0.000000
75%     5511.417625      0.000000      0.000000      0.000000      0.000000
max    11755.570000      1.000000      1.000000      1.000000      1.000000

           WEEK_THU      WEEK_TUE      WEEK_WED       HOLIDAY    SUM_gsflow
count  87672.000000  87672.000000  87672.000000  87672.000000  87624.000000
mean       0.142896      0.142349      0.142623      0.017794   4511.468460
std        0.349969      0.349409      0.349689      0.132201   1693.813368
min        0.000000      0.000000      0.000000      0.000000    573.735000
25%        0.000000      0.000000      0.000000      0.000000   3289.407625
50%        0.000000      0.000000      0.000000      0.000000   4350.682250
75%        0.000000      0.000000      0.000000      0.000000   5511.417625
max        1.000000      1.000000      1.000000      1.000000  11755.570000  Action: python_repl_ast
Action Input: df.groupby('CITY').mean(numeric_only=True)           TEMP       GEN       OAS   GEN_OAS      TOTAL  WEEK_FRI  WEEK_MON  \
CITY
331.226   21.66   336.786    92.447   429.233    760.459       1.0       0.0
333.550   21.79   373.542   114.807   488.349    821.899       1.0       0.0
343.075   20.30   349.041    88.640   437.681    780.756       0.0       0.0
351.143   20.16   271.833    74.247   346.080    697.223       0.0       0.0
367.340   16.94   162.059    44.336   206.395    573.735       0.0       1.0
...         ...       ...       ...       ...        ...       ...       ...
6667.307  -5.22  3537.837  1105.071  4642.908  11310.215       0.0       0.0
6670.801  -6.04  3368.647  1091.316  4459.963  11130.764       1.0       0.0
6795.917  -5.33  3828.498  1108.072  4936.570  11732.487       0.0       0.0
6804.806  -6.04  3582.187  1101.286  4683.473  11488.279       1.0       0.0
7046.802   7.37  2400.777   948.083  3348.860  10395.662       0.0       0.0

          WEEK_SAT  WEEK_SUN  WEEK_THU  WEEK_TUE  WEEK_WED  HOLIDAY  \
CITY
331.226        0.0       0.0       0.0       0.0       0.0      0.0
333.550        0.0       0.0       0.0       0.0       0.0      0.0
343.075        0.0       0.0       1.0       0.0       0.0      0.0
351.143        0.0       0.0       1.0       0.0       0.0      0.0
367.340        0.0       0.0       0.0       0.0       0.0      0.0
...            ...       ...       ...       ...       ...      ...
6667.307       0.0       0.0       1.0       0.0       0.0      0.0
6670.801       0.0       0.0       0.0       0.0       0.0      0.0
6795.917       0.0       0.0       1.0       0.0       0.0      0.0
6804.806       0.0       0.0       0.0       0.0       0.0      0.0
7046.802       0.0       0.0       0.0       1.0       0.0      0.0

          SUM_gsflow
CITY
331.226      760.459
333.550      821.899
343.075      780.756
351.143      697.223
367.340      573.735
...              ...
6667.307   11310.215
6670.801   11130.764
6795.917   11732.487
6804.806   11488.279
7046.802   10395.662

[87093 rows x 14 columns]Action: python_repl_ast
Action Input: df.groupby('WEEKDAY').mean(numeric_only=True)KeyError: 'WEEKDAY'Action: python_repl_ast
Action Input:
```python
df['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.day_name()
df.groupby('WEEKDAY').mean(numeric_only=True)
```
Thought: The error indicates that the column 'WEEKDAY' does not exist in the DataFrame. I will create a new column 'WEEKDAY' by extracting the day name from the 'DATE' column and then group by this new column to get the mean values for each weekday.SyntaxError: invalid syntax (<unknown>, line 3)Action: python_repl_ast
Action Input:
```python
import pandas as pd

df['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
weekday_mean
```
Thought: This code will create a new column 'WEEKDAY' by extracting the day name from the 'DATE' column and then group by this new column to get the mean values for each weekday.SyntaxError: invalid syntax (<unknown>, line 6)Action: python_repl_ast
Action Input:
```python
import pandas as pd

df['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
weekday_mean
```KeyError: 'DATE'Action: python_repl_ast
Action Input:
```python
import pandas as pd

# Assuming the date column is named 'DATE' and in a proper datetime format
df['WEEKDAY'] = pd.to_datetime(df['DATE']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
weekday_mean
```
Thought: The error indicates that the column 'DATE' does not exist in the DataFrame. I will check the column names to ensure the correct date column is being used.SyntaxError: invalid syntax (<unknown>, line 7)Action: python_repl_ast
Action Input:
```python
df.columns
```
Thought: This code will list all the columns in the DataFrame, allowing me to identify the correct date column.SyntaxError: invalid syntax (<unknown>, line 2)Action: python_repl_ast
Action Input:
```python
print(df.columns)
```

Thought: This code will print out all the column names in the DataFrame, allowing me to identify the correct date column.SyntaxError: invalid syntax (<unknown>, line 2)Action: python_repl_ast
Action Input:
```python
df.columns.tolist()
```
Thought: This code will return a list of all the column names in the DataFrame, allowing me to identify the correct date column.SyntaxError: invalid syntax (<unknown>, line 2)Action: python_repl_ast
Action Input:
```python
df.columns.tolist()
```
Thought: This code will return a list of all the column names in the DataFrame, allowing me to identify the correct date column.SyntaxError: invalid syntax (<unknown>, line 2)Thought: It seems there is an issue with the syntax or environment where the code is being executed. Let's try a different approach by ensuring the code is correctly formatted and executed in a proper Python environment.

Action: python_repl_ast
Action Input:
```python
df.columns.tolist()
```
['datetime', 'TEMP', 'DAY_OF_WEEK', 'CITY', 'GEN', 'OAS', 'GEN_OAS', 'TOTAL', 'WEEK_FRI', 'WEEK_MON', 'WEEK_SAT', 'WEEK_SUN', 'WEEK_THU', 'WEEK_TUE', 'WEEK_WED', 'HOLIDAY', 'SUM_gsflow']Action: python_repl_ast
Action Input:
```python
import pandas as pd

# Assuming the date column is named 'datetime' and in a proper datetime format
df['WEEKDAY'] = pd.to_datetime(df['datetime']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
weekday_mean
```

Thought: This code will create a new column 'WEEKDAY' by extracting the day name from the 'datetime' column and then group by this new column to get the mean values for each weekday.
SyntaxError: invalid syntax (<unknown>, line 7)오류 발생: An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `It seems there is an issue with the environment where the code is being executed. Let's ensure that the code is correctly formatted and executed in a proper Python environment. Here’s the corrected approach:

1. **Check the column names**: We have already identified that the date column is named 'datetime'.
2. **Create the 'WEEKDAY' column**: Extract the day name from the 'datetime' column.
3. **Group by 'WEEKDAY' and calculate the mean values**.

Let's execute the following code step-by-step:

```python
import pandas as pd

# Assuming the date column is named 'datetime' and in a proper datetime format
df['WEEKDAY'] = pd.to_datetime(df['datetime']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
print(weekday_mean)
```

This code will:
1. Convert the 'datetime' column to datetime objects.
2. Extract the day name and create a new column 'WEEKDAY'.
3. Group by the 'WEEKDAY' column and calculate the mean values for each weekday.

If you encounter any syntax errors, ensure that the code is executed in a proper Python environment (e.g., Jupyter Notebook, Python script, or an interactive Python shell).

Let's proceed with this approach:

```python
import pandas as pd

# Assuming the date column is named 'datetime' and in a proper datetime format
df['WEEKDAY'] = pd.to_datetime(df['datetime']).dt.day_name()
weekday_mean = df.groupby('WEEKDAY').mean(numeric_only=True)
print(weekday_mean)
```

If this code runs successfully, it will provide the mean values for each weekday. If there are any issues, please provide the error message so we can troubleshoot further.`
For troubleshooting, visit: https://docs.langchain.com/oss/python/langchain/errors/OUTPUT_PARSING_FAILURE

In [ ]:
import pandas as pd
from langchain_community.llms import Ollama   # # from langchain_ollama import OllamaLLM  # # TODO 차후 최신 OllamaLLM 로 변경 필요
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
# from langchain.agents import AgentType  # # from langchain.agents.agent_types import AgentType

# 1. 로컬 LLM 설정
# [중요] Agent가 정확한 코드 생성위해 temperature=0 설정
llm = Ollama(model="mistral-small", temperature=0)
# llm = OllamaLLM(model="mistral-small", temperature=0)

# 2. 분석위한 dummy data TODO csv나 DB에서 실데이터 불러오는 것으로 수정
data = {
    'date': pd.date_range(start='2025-10-01', periods=14),
    'visitor_count': [1200, 1300, 1100, 900, 850, 1500, 1600, 1150, 1050, 950, 800, 1450, 1550, 1100],
    'order_count': [120, 135, 115, 80, 75, 180, 195, 110, 100, 85, 70, 175, 190, 105],
    'ad_spend': [500, 500, 500, 300, 300, 700, 700, 500, 500, 500, 300, 700, 700, 500],
    'platform': ['PC', 'Mobile', 'Mobile', 'PC', 'PC', 'Mobile', 'Mobile', 'PC', 'Mobile', 'PC', 'PC', 'Mobile', 'Mobile', 'PC']
}
df = pd.DataFrame(data)

# 3. Pandas DataFrame Agent 생성
agent = create_pandas_dataframe_agent(
    llm,
    df,
    verbose=True, # Agent가 생각 과정(Thought/Action) 화면 출력
    # agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    allow_dangerous_code=True, # # 로컬 환경에서 LLM이 python 실행 허용 설정
)

# 4. 분석 요청 프롬프트 (Few-shot 구조 결합)
query = """
제공된 데이터프레임을 기반으로 다음 구조에 맞춰 한국어 보고서를 작성하세요:

1. 데이터 요약: 전체적인 수치(방문자, 주문수 등) 요약
2. 가설 설정: 플랫폼(PC/Mobile)별 효율 차이나 요일별 특징에 대한 가설
3. 분석 결과: 가설을 검증하기 위해 실제 코드를 실행한 통계적 근거 (예: 플랫폼별 전환율 비교)
4. 비즈니스 제언: 분석 결과를 바탕으로 한 마케팅 전략

반드시 코드를 실행하여 정확한 평균값과 상관관계를 계산한 뒤 답변하세요.
"""

print("Agent GO!GO!GO!...")
print("-" * 50)

try:
    response = agent.run(query)
    print("\n" + "="*50)
    print("최종 분석 보고서")
    print("="*50)
    print(response)
except Exception as e:
    print(f"Agent 실행 중 오류 발생: {e}")